[submodule "MotivationalT"]
	path = MotivationalT
	url = /mnt/btrfs/datasets/datalad/crawl/labs/mvdm/../../workshops/mind-2017/MotivationalT
[submodule "MotivationalT-v2"]
	path = MotivationalT-v2
	url = ./MotivationalT-v2
	datalad-id = 7262bcd0-8342-11ea-b4e1-002590f97d84
[submodule "WidebandTest"]
	path = WidebandTest
	url = ./WidebandTest
	branch = master
	datalad-id = bb67d148-88d0-11ea-9640-002590f97d84
[submodule "BiconditionalOdor"]
	path = BiconditionalOdor
	url = ./BiconditionalOdor
	datalad-id = f4bba2f8-a9d2-11ea-a6f2-002590f97d84
[submodule "BiconditionalOdor-derived"]
	path = BiconditionalOdor-derived
	url = ./BiconditionalOdor-derived
	datalad-id = 0e4d0178-b647-11ea-8ecb-002590f97d84
